

.nav-container {
  position: relative;
}

.drop-down {
  display: flex;
  flex-direction: row;
  position: absolute;
  background-color: white;
}

.leftLinks {
  width: 20%;
}

.mainlinks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
