@import '../../scss/mixins';

app-button-banner {
  margin: 1px;
}
.imgBanners {
  margin: 1px;
  @include tablet {
    display: flex;
    flex-direction: row;
  }
}

.explore {
  margin-top: 20px;
  background-color: $lightgrey;
  height: 25vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2vw;
}

.insta-pics {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 5px;
  grid-auto-flow: row;
}
