@import '../../scss/mixins';

a {
  padding: 7px 8px;
  margin: 5px 4px;
  border: 2px solid black;
  height: 15px;
  width: auto;
  color: black;
  font-size: 0.8em;
  font-weight: bold;
  text-decoration: none;
  background-color: white;
  transition: color 0.2s, background-color 0.5s, text-decoration 0.4s;
  @include tablet {
    height: 15px;
    margin: 5px 5px;
  }
  &:hover {
    color: white;
    background-color: black;
    text-decoration: underline;
  }
}
